<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>182489347069-nna136hlglrs6pmdqfvstrn94dqtcodf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.182489347069-nna136hlglrs6pmdqfvstrn94dqtcodf</string>
	<key>API_KEY</key>
	<string>AIzaSyBEpjg5ATeSqcIcZ2ZU8PCrSf0WsSgOEYo</string>
	<key>GCM_SENDER_ID</key>
	<string>182489347069</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.crud</string>
	<key>PROJECT_ID</key>
	<string>crudfluets</string>
	<key>STORAGE_BUCKET</key>
	<string>crudfluets.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:182489347069:ios:b3b60f26f50f16d8f79f94</string>
</dict>
</plist>